---
import config from "@config/config.json";
import Base from "@layouts/Base.astro";
import FormInput from "@layouts/components/form/FormInput.astro";
import FormTextArea from "@layouts/components/form/FormTextArea.astro";
import { markdownify } from "@lib/utils/textConverter";
import { getEntry } from "astro:content";

const entry = await getEntry("pages", "contact");
const { contact_form_action } = config.params;
const { address, email, phone } = config.contactinfo;
const { title, description, meta_title, image } = entry.data;
---

<Base
  title={title}
  meta_title={meta_title}
  description={description}
  image={image}
>
  <section class="section">
    <h1 set:html={markdownify(title)} class="h2 page-heading" />
    <article class="row gy-5 md:gx-5">
      <aside class="sm:col-5 md:col-4">
        <img src={image} alt={title} class="img-cover mb-6 w-full rounded-lg" />
      </aside>

      <form
        class="contact-form row gy-2 justify-center sm:col-7 md:col-8"
        method="POST"
      >
        <FormInput name="Name" required className="lg:col-6" />
        <FormInput name="Email" type="email" required className="lg:col-6" />

        <FormInput
          name="Password"
          type="password"
          required
          className="lg:col-12"
        />

        <FormTextArea name="Message" rows="4" className="lg:col-12" />
        <div class="col-12">
          <button class="btn btn-primary mt-2">Submit Now</button>
        </div>
      </form>
    </article>
  </section>
</Base>
