---
import Base from "@layouts/Base.astro";
import { getEntry } from "astro:content";
import FormInput from "@layouts/components/form/FormInput.astro";

const entry = await getEntry("home", "index");
const { Content } = await entry.render();
const { title, description, meta_title, image, details } = entry.data;
---

<Base
  title={title}
  meta_title={meta_title}
  description={description}
  image={image}
>
  <section class="section row md:gx-4">
    <article class="sm:col-7 md:col-6">
      <h1 class="h3 mb-8">{title}</h1>
      <div class="content"><Content /></div>
      <form
        class="contact-form row gy-2 justify-center"
        method="POST"
        data-netlify="true"
      >
        <FormInput name="Email" type="email" className="lg:col-8" />
        <button class="btn btn-primary col-4">Join Waitlist</button>
      </form>
    </article>
    <div class="img-cover mb-6 sm:col-5 md:col-6">
      <img src={image} alt={title} class="img-cover mb-6 w-full rounded-lg" />
    </div>
  </section>

  <section class="section pt-0">
    <h3 class="page-heading mb-20">{details.title}</h3>
    <div class="row gy-4 justify-center text-center">
      {
        details.items.map((item: any) => (
          <div class="md:col-6 lg:col-4">
            <h4 class="font-weight-700 mb-3 text-dark">{item.title}</h4>
            <p>{item.description}</p>
          </div>
        ))
      }
    </div>
  </section>
</Base>
